body
{
    height: 1000px;
    background-image: linear-gradient(165deg, rgba(95,158,160,1) -10px, rgba(220,220,220,0.7) 50%);
    background-repeat: no-repeat;
}
body h3, h1
{
    padding: 10px 0;
    font-family: Arial;
}
body input[type=text], textarea
{
    padding: 2px;
    border-radius: 5px;
    border-color: #2970a9;
}
body input[type=button] {
    margin: 10px 0;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid ;
    border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
  border-radius: 5px;
  outline: none;
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  box-shadow:
   0 6px #60a3d8,
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
} 
body input[type=button]:hover {
 background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
}
body input[type=button]:active {
    border-color: #2970a9;
  background-image: linear-gradient(#5796c8, #6aa2ce);
  box-shadow:
   0 2px #2970a9,
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
form
{
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}
input, textarea
{
    display: block;
    margin: 5px auto;
}
input[type=text], textarea
{
    width: 95%;
}
.mas_bloc textarea, .mas_bloc input[type=button]
{
    display: block;
}
.mas_bloc
{
    vertical-align:middle; 
    display: inline-block
}
.mas_bloc textarea
{
    height: 300px;
}
input[type=button]
{
    display: inline-block;
    padding: 5px;
    width: 100%;
    margin: 2px auto;
}
.bloc_dii
{
    display: block;
    margin: auto;
}
#Remove, #conkat 
{
    display: block;
    margin: auto;
    width: auto;
}
h3
{
    text-align: center;
    margin: 0;
}
.center
{
    display: block;
    text-align: center
}
.center .bloc
{
    display: inline-block;
    text-align: center
}
form div
{
    vertical-align: middle;
}